<!doctype HTML>
<html>
    <head>
        <title>Login</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
        <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
        <script type="text/javascript">
            
        </script>
    </head>
    <body>
        <div class="wrapper fadeInDown">
            <div id="formContent">
                <div class="fadeIn first">
                    <img src="{{ url_for('static', filename='images/patient.png') }}" id="icon" alt="User Icon" class="img-responsive img-rounded"style="max-height: 100px; max-width: 75px;"/>
                </div>  
                <form method="post">
                    <input type="email" id="login" class="fadeIn second" name="emailme" placeholder="Email">
                    <input type="password" id="password" name="passwordme" class="fadeIn second"placeholder="Password">
                    
                    
                    
                    <input type="submit" class="fadeIn fourth" value="Submit" id="submitbutton" name="submitme">
                    <a class="underlineHover fadeIn fourth" href="#">Forget Password</a>
                
                    <div id="formFooter">
                        <a class="underlineHover" href="{{url_for('signup_pat')}}">Register Now</a>
                      </div>
                </form>
            </div>
        </div>
    </body>
</html>

