<!doctype HTML>
<html>
    <head>
        <title>Register</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
        <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
        <script type="text/javascript">

        </script>
    </head>
    <body>
        <div class="wrapper fadeInDown">
            <div id="formContent">
                <div class="fadeIn first">
                    <img src="{{ url_for('static', filename='images/patient.png') }}" id="icon" alt="User Icon" class="img-responsive img-rounded"style="max-height: 100px; max-width: 75px;"/>
                </div>  
                <form action="" method="POST">
                    <input type="text" id="name" class="fadeIn second" name="name" placeholder="Name" value="{{name}}">
                    <input type="text" id="username" class="fadeIn second" name="username" placeholder="UserName" value="{{uname}}">
                    <input type="text" id="phone" class="fadeIn second" name="c" placeholder="Mobile" value="{{mob}}">
                    <input type="email" id="login" class="fadeIn second" name="login" placeholder="Email" value="{{email}}">
                    <input type="text" id="age" class="fadeIn second" name="age" placeholder="Age" value="{{age}}">
                    <div id="div213" style="display:{{visible}}">
                        <input type="submit" class="fadeIn fourth" name="send_otp" value="Send Otp" id="showotp" >
                    </div>
                    <div id="div21"class="div2" style="display:{{visible1}}">
                        <input type="text" name="enterotp" id="verify" placeholder="Enter OTP">
                        <input type="submit" class="fadeIn fourth" value="Submit Otp" id="submitotp" name="submitotp">
                        <a class="underlineHover fadeIn fourth" href="#">ReSend OTP</a>
                    </div>
                    <div id="div31"class="div2" style="display:{{visible2}}">
                        <input type="password" name="password" class="fadeIn fourth" placeholder="Password" >
                        <input type="password" name="confirm" class="fadeIn fourth" placeholder="Confirm Password" >
                        <button type="submit" class="fadeIn fourth" value="Submit" id="submit" name="submitform" >Submit</button>
                    </div>
                    <div id="formFooter">
                        <a class="underlineHover" href="{{url_for('login_pat')}}">Login</a>
                      </div>
                </form>
            </div>
        </div>
    </body>
</html>

